:root {
  --select-control-padding: 0.5em 1em;
  --select-control-font-size: 14px;
  --select-dropdown-icon-right: 12px;
  --select-dropdown-icon-opacity: 0.3;
  --select-dropdown-icon-opacity-hover: 0.7;
}

form.select {
  display: flex;
  align-items: center;
  position: relative;
  padding: var(--select-control-padding);
  font-size: var(--select-control-font-size);
  border-bottom: 1px solid var(--light-border-color);
}

form.select:hover {
  background-color: var(--light-background-color);
}

form.select:last-of-type {
  border-bottom: none;
}

form.select select,
#date_display {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: var(--select-control-font-size);
  color: var(--text-color);
  padding-right: 1.125em;
  text-align: right;
}

#date_display {
  margin: 0;
  padding: 0.6875em 1em;
  flex-grow: 1;
  text-align: left;
  border-bottom: 1px solid var(--light-border-color);
}

#date_display_container {
  position: relative;
}

#date_display:hover {
  background-color: var(--light-background-color);
}

form.select::before,
#date_display_container::before {
  content: "";
  position: absolute;
  top: 50%;
  right: var(--select-dropdown-icon-right);
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  opacity: var(--select-dropdown-icon-opacity);
  transform: rotate(90deg);
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z'/></svg>");
  background-size: 1em;
}

form.select:hover::before,
#date_display_container:hover::before {
  opacity: var(--select-dropdown-icon-opacity-hover);
}